.thumb {
	width: 128px;
    height: 193px;
    border: solid thin grey;
 }

.bookContainer {
    width: 128px;
    height: 193px;
    margin: '10px 20px 20px 10px';
  	display:  block;
}

div.book-top {
  animation: bookGrow 1.0s;
  width: 128px; height: 193px;
}
@keyframes bookGrow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}